<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PesquisarBolsistaController</servlet-name>
        <servlet-class>controller.PesquisarBolsistaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarCampusController</servlet-name>
        <servlet-class>controller.PesquisarCampusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarCursoController</servlet-name>
        <servlet-class>controller.PesquisarCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarEditalController</servlet-name>
        <servlet-class>controller.PesquisarEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisarFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarInstituicaoController</servlet-name>
        <servlet-class>controller.PesquisarInstituicaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarNucleoController</servlet-name>
        <servlet-class>controller.PesquisarNucleoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarOrientadorController</servlet-name>
        <servlet-class>controller.PesquisarOrientadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProjetoController</servlet-name>
        <servlet-class>controller.PesquisarProjetoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarSubareaController</servlet-name>
        <servlet-class>controller.PesquisarSubareaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarSubAreaController</servlet-name>
        <servlet-class>controller.PesquisarSubAreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarTipoBolsaController</servlet-name>
        <servlet-class>controller.PesquisarTipoBolsaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarTipoCursoController</servlet-name>
        <servlet-class>controller.PesquisarTipoCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarBolsistaController</servlet-name>
        <servlet-class>controller.CadastrarBolsistaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarBolsistaVoluntarioController</servlet-name>
        <servlet-class>controller.CadastrarBolsistaVoluntarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCampusController</servlet-name>
        <servlet-class>controller.CadastrarCampusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCursoController</servlet-name>
        <servlet-class>controller.CadastrarCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEditalController</servlet-name>
        <servlet-class>controller.CadastrarEditalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFuncionarioController</servlet-name>
        <servlet-class>controller.CadastrarFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarNucleoController</servlet-name>
        <servlet-class>controller.CadastrarNucleoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarOrientadorController</servlet-name>
        <servlet-class>controller.CadastrarOrientadorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProjetoController</servlet-name>
        <servlet-class>controller.CadastrarProjetoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarSubAreaController</servlet-name>
        <servlet-class>controller.CadastrarSubAreaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarTipoBolsaController</servlet-name>
        <servlet-class>controller.CadastrarTipoBolsaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Curso</servlet-name>
        <servlet-class>javaSCP.Curso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarTipoCursoController</servlet-name>
        <servlet-class>controller.CadastrarTipoCursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarInstituicaoController</servlet-name>
        <servlet-class>controller.CadastrarInstituicaoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarBolsistaController</servlet-name>
        <url-pattern>/PesquisarBolsistaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarCampusController</servlet-name>
        <url-pattern>/PesquisarCampusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarCursoController</servlet-name>
        <url-pattern>/PesquisarCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarEditalController</servlet-name>
        <url-pattern>/PesquisarEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarFuncionarioController</servlet-name>
        <url-pattern>/PesquisarFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarInstituicaoController</servlet-name>
        <url-pattern>/PesquisarInstituicaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarNucleoController</servlet-name>
        <url-pattern>/PesquisarNucleoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarOrientadorController</servlet-name>
        <url-pattern>/PesquisarOrientadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProjetoController</servlet-name>
        <url-pattern>/PesquisarProjetoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarSubareaController</servlet-name>
        <url-pattern>/PesquisarSubareaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarSubAreaController</servlet-name>
        <url-pattern>/PesquisarSubAreaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarTipoBolsaController</servlet-name>
        <url-pattern>/PesquisarTipoBolsaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarTipoCursoController</servlet-name>
        <url-pattern>/PesquisarTipoCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarBolsistaController</servlet-name>
        <url-pattern>/CadastrarBolsistaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarBolsistaVoluntarioController</servlet-name>
        <url-pattern>/CadastrarBolsistaVoluntarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCampusController</servlet-name>
        <url-pattern>/CadastrarCampusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCursoController</servlet-name>
        <url-pattern>/CadastrarCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEditalController</servlet-name>
        <url-pattern>/CadastrarEditalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionarioController</servlet-name>
        <url-pattern>/CadastrarFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarNucleoController</servlet-name>
        <url-pattern>/CadastrarNucleoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarOrientadorController</servlet-name>
        <url-pattern>/CadastrarOrientadorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProjetoController</servlet-name>
        <url-pattern>/CadastrarProjetoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarSubAreaController</servlet-name>
        <url-pattern>/CadastrarSubAreaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarTipoBolsaController</servlet-name>
        <url-pattern>/CadastrarTipoBolsaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Curso</servlet-name>
        <url-pattern>/Curso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarTipoCursoController</servlet-name>
        <url-pattern>/CadastrarTipoCursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarInstituicaoController</servlet-name>
        <url-pattern>/CadastrarInstituicaoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
